shadow()
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	
flexbox()
	display -webkit-box
	display -webkit-flex
	display -moz-flex
	display -ms-flexbox
	display flex

vendor($property, $value...)
	-webkit-{$property} $value
	-moz-{$property} $value
	-ms-{$property} $value
	-o-{$property} $value
	{$property} $value
