body--color = #f9f9f9
header--color = #009688
panel--color = white
tool-bar-color = rgb(63,81,181)

buttonbackground = #f7f7f7
color-warning = rgb(244,67,54)

button--primary-color = rgb(63,81,181)

title--color = white

