<!DOCTYPE html>
<html lang="es" ng-app='notas'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/vendors/angular.js"></script>
	<script src="js/vendors/angular-animate.js"></script>
	<script src="js/vendors/angular-route.js"></script>
	<script src="js/vendors/angular-resource.js"></script>
	
	<script src='js/app.js'></script>
	<script src='js/nota/NotaController.js'></script>
	<script src='js/nota/NotaService.js'></script>
	<script src='js/nota/NotaDirective.js'></script>
</head>
<body>
	<h1>Notas</h1>
	{% block content%} {%endblock%}
</body>
</html>