<form ng-init="getNote()" ng-hide="hide_form">
	<label for="title">Titulo</label>
	<input type="text" id="title" placeholder='Titulo' ng-model = 'nota.title' value='{$ nota.title $}' >	
	<label for="description">Descripcion</label>
	<input type="text" id='description' placeholder='Descripcion' ng-model = 'nota.description' value='{$ nota.description $}'>
	<label for="type">Tipo</label>
	<input type="text" id='type' placeholder='Tipo' ng-model = 'nota.type' value='{$ nota.type $}'>
	<label for="body">Nota</label>
	<textarea name="" id="body" cols="30" rows="10" ng-model = 'nota.body'>{$ nota.body $}</textarea>
	<button ng-if=action.edit class="btn btn-primary" ng-click="update_note()">Editar</button>	
	<div class="buttons-section" ng-if=!action.edit>
		<button  class="btn btn-primary" ng-click="creat_note()">Crear</button>
		<div  class="btn " ng-click="clear_model()">Limpiar</div>
	</div>
</form>