.btn
	display inline-block
	line-height 1.5
	text-align center
	vertical-align middle
	font-size 100%
	white-space nowrap
	background-color buttonbackground
	border none
	font-weight bold
	cursor p ointer
	margin 0
	parring-top 0
	parring-bottom 0
	parring-right 1rem
	parring-left 1rem
	

.btn-error
	background-color color-error
	&:hover 
		background-color  darken(color-error, 10%);
			
	