body
	background body--color
header
	background header--color
	height 150px
	shadow()
	h1
		margin 0
		
section.container
	//padding 10%
	margin 0 15%	
	width 70%
	background panel--color
	shadow()
	h2
		padding 10px
		height 54px
		background tool-bar-color 
		shadow()
	table,
	form
		margin 0 15%
		width 70%
	table
		tr
			height 94px
			border-bottom 1px solid #eee
			.btn
				padding 6px
				height 25px
				&:hover
					shadow()
	form
		padding 5% 0
		input,
		textarea
			padding-bottom 26px
			width 100%
			border-width: 0 0 1px 0;
				
		.btn
			padding 6px
			height 25px
			&:hover
				shadow()
		